/* CSS Document */

*{margin: 0px;
padding: 0px;}

#contenedor{
	background: #CAA6FF;
	width: 1000px;
	margin: auto;
	
}

#articulo1{
	background: #FFC72A;
	background-image: url("Imagenes/WilliamLineas.png");
	background-size: 2200px;
	background-position: 45% 35%;
	background-attachment: fixed;
	height: 830px;
	overflow: hidden;
}

#logo{
	width: 150px;
	position: fixed;
	margin-left: 50px;
	margin-top: 20px;
	transition: all 1s ease;
	transform-style: preserve-3d;
	z-index: 9999;
}

#logo:hover{
	transform: rotateZ(180deg);
}

.profilepic{
	margin-left: 375px;
	margin-top: 160px;
	width: 250px;
}

.nombre{font-size: 5em;
	color: #1F1F1F;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	
}

.desc{color:#424242;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 19px;
	font-weight: 600;
	position: relative;
	left: 263px;
	top: -10px;
}

.willybkg{
	width: 2100px;
	position: relative;
	top: -1000px;
	left: -560px;
	transform: rotate(15.1deg);
}

#articulo2{
	background: #FFC72A;
	height: 830px;
	overflow: hidden;
}


.tituloadm{font-size: 2em;
	color: #1F1F1F;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 600;
	position: relative;
	left: 50px;
	top: 140px;
}

.acercadesc{font-size: 1em;
	color: #1F1F1F;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 500;
	margin-right: 600px;
	position: relative;
	left: 50px;
	top: 180px;
}

.boldsemititulo{
	font-weight: 600;
	font-size: 1.5em;
}

#slider img{
	width: 460px;
}

#slider{
	width: 460px;
	margin-left: 490px;
	height: auto;
	overflow: hidden;
	position: relative;
	top: -365px
}

#slider ul{
	list-style: none;
	width: 2760px;
	display: flex;
	animation: slide 30s infinite alternate;
}

@keyframes slide{
	0%{margin-left: 0px;}
	8.3%{margin-left: 0px;}
	16.6%{margin-left: -460px;}
	24.9%{margin-left: -460px;}
	33.2%{margin-left: -920px;}
	41.5%{margin-left: -920px;}
	49.8%{margin-left: -1380px;}
	58.1%{margin-left: -1380px;}
	66.4%{margin-left: -1840px;}
	74.7%{margin-left: -1840px;}
	83%{margin-left: -2300px;}
	91.3%{margin-left: -2300px;}
	100%{margin-left: -2300px;}
}

#articulo3{
	background: #FFFFFF;
	height: 830px;
	overflow: hidden;
}

.titulo{font-size: 2em;
	color: #1F1F1F;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 600;
	text-align: center;
	margin-top: 138px;
}

.imagegallery{
	margin-left: 40px;
	margin-top: 40px;
	margin-right: 50px;
}

.imggalsquare{
	width: 167.5px;
	margin-left: -5px;
	margin-top: -5px;
	transition: all 0.5s;
}

.imggalwide{
	height: 152px;
	margin-left: -5px;
	margin-top: -5px;
	transition: all 0.5s;
}

.imggalwide2{
	height: 108.5px;
	margin-left: -5px;
	margin-top: -5px;
	transition: all 0.5s;
}

.imggalwide3{
	height: 59.7px;
	margin-left: -5px;
	margin-top: -5px;
	transition: all 0.5s;
}

.imggalsquare:hover{
	transform: scale(1.19);
}

.imggalwide:hover{
	transform: scale(1.2);
}

.imggalwide2:hover{
	transform: scale(1.25);
}

.imggalwide3:hover{
	transform: scale(1.35);
}

#articulo4{
	background: #FFC72A;
	background-image: url("Imagenes/DSC_0518.png");
	background-size: 1240px;
	background-position: 70% 0%;
	background-attachment: fixed;
	height: 830px;
	overflow: hidden;
}

.tituloyellow{font-size: 2em;
	color: #FFC72A;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 600;
	text-align: center;
	margin-top: 138px;
}

.titulowhite{font-size: 2em;
	color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 600;
	text-align: center;
	margin-top: 138px;
}

.vidgalwide{
	width: 290px;
	height: 164px;
	margin-left: 10px;
	margin-top: 10px;
	transition: all 0.5s;
}


#articulo5{
	background: #FFFFFF;
	height: 830px;
	overflow: hidden;
}

.tabla{
	margin-top: 43px;
	position: relative;
	left: 95px;
	background-color: #FFC72A;
	width: 810px;
	height: 200px;
	overflow: hidden;
}

.forumtitl{color: #424242;
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
text-align: center;
margin-top: 5px;
font-size: 21px}

.forumtitles{color: #424242;
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
position: relative;
top: 15px;
margin-left: 15px;
font-size: 15px;
font-weight: 600}

.forumcontent{margin-top: 20px;
margin-left: 15px;
color: #424242;
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
font-size: 13px;
font-weight: 100;
overflow: hidden;}

.forumcontent-br{margin-top: 5px;
margin-left: 15px;
color: #424242;
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"}

.forumnav{margin-top: 10px;
margin-bottom: 10px;
position: relative;
left: 125px}

.buttons2{
margin-left: 390px;
margin-right: 15px;}

.forumadaptside{
	position: relative;
	left: 400px;
	top: -415px;
}

.gifad{
	position: relative;
	left: 195px;
	top: -400px;
}



#articulo6{
	background: #FFC72A;
	background-image: url("Imagenes/Bridget2.png");
	background-size: 1500px;
	background-position: 50% 60%;
	background-attachment: fixed;
	height: 920px;
	overflow: hidden;
}



#imagenespage{
	background: #FFFFFF;
	height: 6000px;
	overflow: hidden;
}

.fotocondesc{
	margin-left: 50px;
	margin-top: 90px;
}

.imgsquare-fotocondesc{
	width: 550px;
}

.desc-fotocondesc{
	font-size: 1em;
	color: #1F1F1F;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 500;
	margin-right: 600px;
	position: relative;
	left: 580px;
	top: -557px;
}

.imgredessquare{
	width: 289px;
	margin-left: -5px;
	margin-top: -5px;
	transition: all 0.5s;
}

.imgredeswide{
	height: 216.5px;
	margin-left: -5px;
	margin-top: -5px;
	transition: all 0.5s;
}

.imgredessquare:hover{
	transform: scale(1.12);
}

.imgredeswide:hover{
	transform: scale(1.15);
}

header{
	background: #FFC72A;
	height: 95px;
	z-index: 9999;
}

#menu{
	background: #000000;
	width: 750px;
	position: fixed;
	margin-left: 250px;
	margin-top: 25px;
	z-index: 9999;
}

#menu a:link{color: #FFC72A;}

#menu a:visited{color:#9B9B9B;}

#menu a:hover{color: #000000; background: #FFC72A;}

a{
	text-decoration: none;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 20px;
	font-weight: 700;
	padding: 8px;
	display: inline-block;
}

.imgpie{
	width: 70px;
	margin-left: 900px;
	margin-top: 17px;
	background-attachment: fixed;
}

footer{
	background: #FFC72A;
	height: 100px;
	width: 1000px;
	position: fixed;
	bottom: 0px;
	overflow: hidden
}

.iconsfooter{
	position: relative;
	left: 360px;
	margin-top: -78px;
	z-index: 9999;
}

.footerimgs{
	width: 50px;
}

.footertunes{
	width: 65px;
	height: 10px;
	position: relative;
	right: 340px;
	top: -75px;
}

.playercover{
	width: 70px;
	position: relative;
	top: -349px;
	left: -2px;
	
}

.playercover:hover{
	animation: playercontrol 5s infinite ease-in-out;
}

@keyframes playercontrol {
	20%, 100% {
		transform: translate(200px, 0);
	}
}

hr{border-top: 5px solid #000000;
}

@media screen and (min-width:700px) and (max-width:999px){
	#contenedor{width: 700px}
	footer{width: 700px}
	header{height: 60px;}
	#logo{width: 80px; margin-left: 30px; margin-top: 15px;}
	#menu{width: 565px; margin-left: 135px; margin-top: 15px; height: 28px;}
	a{font-size: 15.4px; font-weight: 800; padding: 3px;}
	
	.profilepic{margin-left: 225px; margin-top: 160px; width: 250px;}
	.nombre{font-size: 5em; text-align: center;}
	.desc{font-size: 19px; font-weight: 600; left: 112px; top: -10px;}
	
	.tituloadm{font-size: 2em; font-weight: 600; top: 100px;}
	.acercadesc{font-size: 0.9em; margin-right: 450px; top: 130px;}
	
	#slider img{width: 340px;}
	#slider{width: 340px; margin-left: 320px; top: -487px;}
	#slider ul{width: 2040px; display: flex; animation: slide2 30s infinite alternate;}

	.titulo{font-size: 2em;font-weight: 600;margin-top: 100px;}
	.imagegallery{ margin-left: 40px; margin-top: 40px; margin-right: 50px; position: relative; top: -20px}
	.imggalsquare{width: 117.8px; margin-left: -5px; margin-top: -5px;}
	.imggalwide{height: 105.8px; margin-left: -5px; margin-top: -5px; transition: all 0.5s;}
	.imggalwide2{height: 96.1px; margin-left: -5px; margin-top: -5px;}
	.imggalwide3{height: 96.1px; margin-left: -5px; margin-top: -5px;}
	
	.imggalsquare:hover{transform: scale(1.2);}
	.imggalwide:hover{transform: scale(1.2);}
	.imggalwide2:hover{transform: scale(1.2);}
	.imggalwide3:hover{transform: scale(1.2);}
	
	.vidgalwide{width: 267px; height: 149px; margin-left: 26px;margin-top: 10px;}

	.tabla{margin-top: 23px; left: 25px; width: 655px; height: 200px;}
	.forumadaptside{left: 360px;top: -415px;}
	.gifad{left: 50px; top: -370px;}

	.imgredessquare{width: 199.6px; margin-left: -5px; margin-top: -5px;}
	.imgredeswide{height: 201.3px; margin-left: -5px; margin-top: -5px;}
	
	.imgredessquare:hover{transform: scale(1.1);}
	.imgredeswide:hover{transform: scale(1.1);}

	.imgpie{width: 70px; position: relative; right: 295px; top: 20px;
	background-attachment: fixed;}
	.iconsfooter{left: 230px;}
	.footerimgs{position: relative; top: 20px}
	.footertunes{right: 200px; margin-top: 25px}
	.playercover{width: 70px; top: -334px;left: -2px;}

	#imagenespage{height: 6000px;}
	.fotocondesc{margin-left: 35px;margin-top: 90px;}
	.imgsquare-fotocondesc{width: 420px;}
	.desc-fotocondesc{font-size: 0.8em; font-weight: 500; margin-right: 450px; left: 440px; top: -429px;}
	
	}

	@keyframes slide2{
	0%{margin-left: 0px;}
	8.3%{margin-left: 0px;}
	16.6%{margin-left: -340px;}
	24.9%{margin-left: -340px;}
	33.2%{margin-left: -680px;}
	41.5%{margin-left: -680px;}
	49.8%{margin-left: -1020px;}
	58.1%{margin-left: -1020px;}
	66.4%{margin-left: -1360px;}
	74.7%{margin-left: -1360px;}
	83%{margin-left: -1700px;}
	91.3%{margin-left: -1700px;}
	100%{margin-left: -1700px;}
	}
